#python3 -m pip install -r requirements.txt
anytree==2.8.0
apparmor==3.0.3
appdirs==1.4.4
arandr==0.1.10
asciinema==2.1.0
Beaker==1.11.0
beautifulsoup4==4.10.0
btrfsutil==5.15.1
CacheControl==0.12.6
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
cffi==1.15.0
chardet==4.0.0
colorama==0.4.4
configobj==5.1.0.dev0
contextlib2==0.6.0.post1
cryptography==36.0.1
cupshelpers==1.0
Cython==0.29.26
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
docopt==0.6.2
html5lib==1.1
httplib2==0.20.3
idna==3.3
importlib-metadata==4.8.1
isc==2.0
keyutils==0.6
lensfun==0.3.95
LibAppArmor==3.0.3
lockfile==0.12.2
louis==3.20.0
lxml==4.6.4
Mako==1.1.6
mallard-ducktype==1.0.2
Markdown==3.3.6
MarkupSafe==2.0.1
more-itertools==8.10.0
msgpack==1.0.3
numpy==1.21.5
optimus-manager==1.4
ordered-set==4.0.2
packaging==20.9
pep517==0.12.0
Pillow==8.4.0
ply==3.11
progress==1.6
psutil==5.8.0
pwquality==1.4.4
pycairo==1.20.1
pycparser==2.21
pycups==2.0.1
pycurl==7.44.1
Pygments==2.10.0
PyGObject==3.42.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.11.7
python-xapp==2.2.1
PyYAML==5.4.1
rados==2.0.0
rbd==2.0.0
Reflector==2021.7.8.19.52.52
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
setproctitle==1.2.2
six==1.16.0
soupsieve==2.2.1
team==1.0
toml==0.10.2
tomli==1.2.2
udiskie==2.4.0
urllib3==1.26.7
validate==5.1.0.dev0
variety==0.8.5
webencodings==0.5.1
zipp==3.6.0
